node_modules
npm-debug.log
dist
vendor
.env.local
.env.*.local
.DS_Store
.git
.gitignore
.editorconfig
.idea
*.swp
*.swo
*.swn
.vscode
.history
*.log
storage/logs
bootstrap/cache/_*
.pytest_cache
.phpunit.cache
